<div class="pageheader_container">
    <div class="pageheader">
        <div class="btn-group btn-breadcrumb">
            <a ui-sref="inventory" class="btn btn-default">
                <i class="fa fa-table"></i> Inventory
            </a>
            <a ui-sref="stockbook" class="btn btn-default">
                <i class="fa fa-tags"></i> Stock Book
            </a>
            <a href="" class="btn">
				Stock Book
			</a>
        </div>
    </div>
</div>

<page-content>
    <div class="container">
        <div class="card bg-white">
            <div class="card-header header-line">
                <h2>{{stockVm.stock.name}}
                    <small>Shows detailed inventory of selected stock item</small>
                </h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>mm</th>
                            <th ng-repeat="gsm in stockVm.stock.stockTable.gsmList">{{gsm}} (g/m²)</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in stockVm.stock.stockTable.records track by $index">
                            <td ng-repeat="item in record track by $index">{{item}}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th ng-repeat="item in stockVm.stock.stockTable.gsmList">{{stockVm.getSum($index)}}</th>
                            <th>{{stockVm.getSum(stockVm.stock.stockTable.gsmList.length)}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</page-content>