<div class="pageheader_container">
    <div class="pageheader">
        <div class="btn-group btn-breadcrumb">
            <a ui-sref="inventory" class="btn btn-default">
                <i class="fa fa-table"></i> Inventory
            </a>
            <a href="" class="btn">
				Stock Book
			</a>
        </div>
    </div>
</div>

<page-content>
    <div class="side_form col-sm-12 no-padding">
        <loading ng-if="stockBookVm.loading" class="pull-right"></loading>
        <!--<filter-box ng-hide="stockBookVm.loading" class="pull-right clear-padding-right" name="name" on-search="stockBookVm.fetch(filter)"
            placeholder="Search by name" advance="true">
            <input type="text" class="form-control" ng-model="filter.code" placeholder="Code">
        </filter-box>-->
    </div>

    <div class="card bg-white">
        <div class="card-header header-line">
            <h2>
                Stock Details
                <small>Shows available stock and quantity</small>
            </h2>
        </div>
        <div class="card-body">
            <uib-tabset>
                <uib-tab ng-repeat="stock in stockBookVm.records" heading="{{stock.name}}">
                    <table class="table table-bordered" ng-if="stock.isPaper">
                        <thead>
                            <tr>
                                <th>mm</th>
                                <th ng-repeat="gsm in stock.stockTable.gsmList">{{gsm}} (g/m²)</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in stock.stockTable.records track by $index">
                                <td ng-repeat="item in record track by $index">{{item}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th ng-repeat="item in stock.stockTable.gsmList">{{stockBookVm.getSum($index, stock)}}</th>
                                <th>{{stockBookVm.getSum(stock.stockTable.gsmList.length, stock)}}</th>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered" ng-if="!stock.isPaper">
                        <thead>
                            <tr>
                                <th class="num_col_1">#</th>
                                <th style="width: 70%">Product Name</th>
                                <th>Current Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{$index + 1}}</td>
                                <td>{{stock.name}}</td>
                                <td>{{stock.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <!--<div class="col-sm-12 no-padding">
        <div class="panel panel-default top-default">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="num_col_1">#</th>
                            <th style="width: 70%">Product Name</th>
                            <th>Current Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stock in stockBookVm.records" class="pointer" ng-click="stockBookVm.open(stock.id)">
                            <td>{{$index + 1}}</td>
                            <td>{{stock.name}}</td>
                            <td>{{stock.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <span>Showing Page: {{stockBookVm.currentPage}} of {{stockBookVm.totalPages}}</span>
                <uib-pager ng-change="stockBookVm.pageChanged(stockBookVm.currentPage)" total-items="stockBookVm.totalRecords" ng-model="stockBookVm.currentPage"></uib-pager>
            </div>
        </div>
    </div>-->
</page-content>