<page-header title="Customer" icon="fa fa-address-card-o color-orange"></page-header>

<page-content>
    <div class="row">
        <div class="col-sm-12 no-padding">
            <a authorize="Customer.Create" class="btn btn-primary" ui-sref="customerform">
                <i class="fa fa-plus"></i>Add Customer
            </a>
            <div class="pull-right no-padding-right col-sm-3">
                <span class="" ng-if="customersVm.loading">
                    <i class="fa fa-spinner fa-spin fa-2x"></i> <span style="font-size: 20px; font-weight: bold">Loading...</span>
                </span>
                <div class="input-group form-group" ng-hide="customersVm.loading">
                    <input type="text" placeholder="Search" class="form-control" ng-model="searchText">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search icon_only"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-3 no-padding-left" ng-repeat="customer in customersVm.records">
            <a class="box box-solid card customer_card link-card" ng-click="customersVm.view(customer.id)">
                <div class="box-body">
                    <div class="pull-left img-container">
                        <img class="img-thumbnail" alt="" ng-src="{{customer.logo || '/assets/images/company.png'}}" />
                    </div>
                    <div style="margin-left: 110px; min-height: 96px">
                        <p class="name">{{customer.name | characters:25}}</p>
                        <p class="number">{{customer.phoneNumber}}</p>
                        <p class="study_area">{{customer.email | characters: 20}}</p>
                        <p>{{customer.address | characters: 25}}</p>
                    </div>
                </div>
                <div class="row footer">
                    <div class="col-sm-4 border-right stat">
                        <span>Contacts</span>
                        <strong>{{customer.contacts}}</strong>
                    </div>
                    <div class="col-sm-4 border-right stat">
                        <span>Products</span>
                        <strong>{{customer.products}}</strong>
                    </div>
                    <div class="col-sm-4 stat">
                        <span>Orders</span>
                        <strong>{{customer.jobOrders}}</strong>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr class="pager-top" ng-if="customersVm.records.length > 0">
    <div class="row page_pager" ng-if="customersVm.records.length > 0">
        <span>Showing Page: {{customersVm.currentPage}} of {{customersVm.totalPages}}</span>
        <uib-pager ng-change="customersVm.pageChanged(customersVm.currentPage)" total-items="customersVm.totalRecords" ng-model="customersVm.currentPage"></uib-pager>
    </div>
    <hr class="pager-bottom" ng-if="customersVm.records.length > 0">
</page-content>