<div class="pageheader_container">
    <div class="pageheader">
        <div class="btn-group btn-breadcrumb">
            <a href="" class="btn btn-default" ui-sref="customers">
                <i class="fa fa-address-card-o"></i> Customer
            </a>
            <a class="btn">Customer Details</a>
        </div>
    </div>
</div>

<page-content>
    <div class="row">
        <div class="col-sm-12 no-padding">
            <div class="card bg-white customer-details-box">
                <div class="card-header header-line">
                    <a class="btn btn-default pull-right" ng-click="customerDetailsVm.view()">
                        <i class="fa fa-edit"></i>Edit
                    </a>
                    <h2>Customer Details
                        <small>View customer's info</small>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 no-padding">
                            <img class="img-responsive img-thumbnail" ng-src="{{customerDetailsVm.customerDetails.logo || '/assets/images/company.png'}}" alt="">
                        </div>
                        <div class="col-sm-9 no-padding-right">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Name:</th>
                                            <td colspan="3">{{customerDetailsVm.customerDetails.name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Address:</th>
                                            <td colspan="3">{{customerDetailsVm.customerDetails.address}}</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{customerDetailsVm.customerDetails.email}}</td>
                                            <th>Phone Number</th>
                                            <td>{{customerDetailsVm.customerDetails.phoneNumber}}</td>
                                        </tr>
                                        <tr>
                                            <th>Customer Category</th>
                                            <td>{{customerDetailsVm.customerDetails.category}}</td>
                                            <th>Customer Is Active</th>
                                            <td>{{customerDetailsVm.customerDetails.isActive ? 'Yes' : 'No'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Is Free Zone</th>
                                            <td colspan="3">{{customerDetailsVm.customerDetails.isFreeZone ? 'Yes' : 'No'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <uib-tabset style="margin-top: 20px">
                                    <uib-tab heading="Contacts">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Position</th>
                                                    <th>Phone Number</th>
                                                    <th>Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="pointer" ng-repeat="contact in customerDetailsVm.customerDetails.contacts" ng-click="customerDetailsVm.goto('customerdetails', customerDetailsVm.customerDetails.id)">
                                                    <td>{{contact.name}}</td>
                                                    <td>{{contact.position}}</td>
                                                    <td>{{contact.phoneNumber}}</td>
                                                    <td>{{contact.email}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </uib-tab>

                                    <uib-tab heading="Products">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Category</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="pointer" ng-repeat="product in customerDetailsVm.customerDetails.products" ng-click="customerDetailsVm.goto('product', product.id)">
                                                    <td>{{product.name}}</td>
                                                    <td>{{product.type}}</td>
                                                    <td>{{product.category}}</td>
                                                    <td>{{product.amount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </uib-tab>

                                    <uib-tab heading="Job Orders">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Order No.</th>
                                                    <th>Production No.</th>
                                                    <th>Date</th>
                                                    <th>Expiry Date</th>
                                                    <th>Items</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="pointer" ng-repeat="jobOrder in customerDetailsVm.customerDetails.jobOrder" ng-click="customerDetailsVm.goto('joborder', jobOrder.id)">
                                                    <td>{{jobOrder.orderNumber}}</td>
                                                    <td>{{jobOrder.productionNumber}}</td>
                                                    <td>{{jobOrder.date | date: 'mediumDate'}}</td>
                                                    <td>{{jobOrder.expiryDate | date: 'mediumDate'}}</td>
                                                    <td>{{jobOrder.items}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</page-content>