<div class="col-sm-5 no-padding-left" id="stockIssueForm" ng-if="stockissueVm.showForm">
    <form role="form" ng-submit="stockissueVm.saveRecord(stockissueVm.newRecord)" class="form-horizontal">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">{{stockissueVm.formTitle}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-default btn-sm" ng-click="stockissueVm.closeForm()" data-widget="remove" type="button" uib-tooltip="Close">
                        <i class="fa fa-ban icon_only"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="stockissueVm.newRecord.date" uib-datepicker-popup is-open="date.isOpen" ng-click="date.isOpen=true"
                        ng-required="true">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button authorize="StockIssue.Delete" type="button" btn-loading="stockissueVm.deleting" data-loading-text="Deleting" class="btn btn-danger pull-right"
                    ng-click="stockissueVm.deleteRecord(stockissueVm.newRecord)" ng-if="stockissueVm.newRecord.id"> <i class="fa fa-trash"></i> Delete </button>
                    <button authorize="StockIssue.Create | StockIssue.Update" type="submit" id="save" btn-loading="stockissueVm.saving" data-loading-text="Saving..."
                        class="btn btn-success"><i class="fa fa-save"></i>Save</button>
                        <button type="button" ng-click="stockissueVm.closeForm()" class="btn btn-default"><i class="fa fa-ban"></i>Close</button>
            </div>
        </div>
    </form>
</div>