<div class="pageheader_container">
    <div class="pageheader">
        <div class="btn-group btn-breadcrumb">
            <a ui-sref="inventory" class="btn btn-default">
                <i class="fa fa-table"></i> Inventory
            </a>
            <a href="" class="btn">
				Stock Issues
			</a>
        </div>
    </div>
</div>

<page-content>
    <div class="side_form col-sm-12 no-padding">
        <button ng-if="!stockissueVm.loading" authorize="StockIssue.Create" type="button" class="btn btn-primary" ng-click="stockissueVm.addNew()">
			<i class="fa fa-plus"></i>New Stock Issue
		</button>

        <loading ng-if="stockissueVm.loading" class="pull-right"></loading>
        <filter-box ng-hide="stockissueVm.loading" class="pull-right clear-padding-right" name="number" on-search="stockissueVm.fetch(filter)"
            placeholder="Search by number" advance="true">
            <input type="text" class="form-control" ng-model="filter.waybill" placeholder="Waybill">
            <select ui-select2="{allowClear:true}" class="form-control" ng-model="filter.productionId" data-placeholder="Production" ng-options="item.id as item.name for item in stockreceiptVm.productions">
				<option value=""></option>
			</select>
            
            </filter-box>
    </div>

    <div ng-include="'stockissue_form'"></div>

    <div ng-class="stockissueVm.gridSize" class="no-padding">
        <div class="panel panel-default top-default" authorize="StockIssue.Read">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="num_col_1">#</th>
                            <th>Date</th>
                            <th>Number</th>
                            <th>Waybill</th>
                            <th>Production</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stockissue in stockissueVm.records" >
                            <td>{{((stockissueVm.pageNumber - 1) * 15) + $index + 1}}</td>
                            <td>{{stockissue.date | date: 'mediumDate'}}</td>
                            <td>{{stockissue.number}}</td>
                            <td>{{stockissue.waybill}}</td>
                            <td>{{stockissue.production.name}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <span>Showing Page: {{stockissueVm.currentPage}} of {{stockissueVm.totalPages}}</span>
                <uib-pager ng-change="stockissueVm.pageChanged(stockissueVm.currentPage)" total-items="stockissueVm.totalRecords" ng-model="stockissueVm.currentPage"></uib-pager>
            </div>
        </div>
    </div>
</page-content>
