<div class="pageheader_container">
    <div class="pageheader">
        <div class="btn-group btn-breadcrumb">
            <a ui-sref="inventory" class="btn btn-default">
                <i class="fa fa-table"></i> Inventory
            </a>
            <a href="" class="btn">
				Stock Issues
			</a>
        </div>
    </div>
</div>

<page-content>
    <div class="side_form col-sm-12 no-padding">
        <button ng-if="!badStockVm.loading" authorize="BadStock.Create" type="button" class="btn btn-primary" ng-click="badStockVm.addNew()">
			<i class="fa fa-plus"></i>New BadStock
		</button>

        <loading ng-if="badStockVm.loading" class="pull-right"></loading>
        <filter-box ng-hide="badStockVm.loading" class="pull-right clear-padding-right" name="name" on-search="badStockVm.fetch(filter)"
            placeholder="Search by name" advance="true">
            <select ui-select2="{allowClear:true}" class="form-control" ng-model="filter.itemId" data-placeholder="Vat" ng-options="item.id as item.name for item in badStockVm.stockItems">
				<option value=""></option>
			</select>
        </filter-box>
    </div>

    <div ng-include="'badstock_form'"></div>

    <div ng-class="badStockVm.gridSize" class="no-padding">
        <div class="panel panel-default top-default" authorize="BadStock.Read">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="num_col_1">#</th>
                            <th>Date</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Weight</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="badStock in badStockVm.records" ng-class="{ active: badStockVm.newRecord.id == badStock.id}">
                            <td>{{((badStockVm.pageNumber - 1) * 15) + $index + 1}}</td>
                            <td>{{badStock.date | date: 'mediumDate'}}</td>
                            <td>{{badStock.item.name}}</td>
                            <td>{{badStock.quantity}}</td>
                            <td>{{badStock.weight}}</td>
                            <td>{{badStock.notes}}</td>
                            <td><span class="label" ng-class="badStock.isActive? 'label-success' : 'label-default'">{{badStock.isActive ? 'Active' : 'InActive'}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <span>Showing Page: {{badStockVm.currentPage}} of {{badStockVm.totalPages}}</span>
                <uib-pager ng-change="badStockVm.pageChanged(badStockVm.currentPage)" total-items="badStockVm.totalRecords" ng-model="badStockVm.currentPage"></uib-pager>
            </div>
        </div>
    </div>
</page-content>