<page-header title="Suppliers" icon="fa fa-building color-light-purple"></page-header>

<page-content>
    <div class="side_form col-sm-12 no-padding">
        <button ng-if="!supplierVm.loading" authorize="Supplier.Create" type="button" class="btn btn-primary" ng-click="supplierVm.addNew()">
			<i class="fa fa-plus"></i>New Supplier
		</button>

        <loading ng-if="supplierVm.loading" class="pull-right"></loading>
        <filter-box ng-hide="supplierVm.loading" class="pull-right clear-padding-right" name="name" on-search="supplierVm.fetch(filter)"
            placeholder="Search by name" advance="true">
            <input type="text" class="form-control" ng-model="filter.phoneNumber" placeholder="Phone Number">
            <select ui-select2="{allowClear:true}" class="form-control" ng-model="filter.categoryId" data-placeholder="Category" ng-options="item.id as item.name for item in supplierVm.supplierCategories">
				<option value=""></option>
			</select>
            </filter-box>
    </div>

    <div ng-include="'supplier_form'"></div>

    <div ng-class="supplierVm.gridSize" class="no-padding">
        <div class="panel panel-default top-default" authorize="Supplier.Read">
            <div class="table-responsive">
                <table class="table table-hover md">
                    <thead>
                        <tr>
                            <th class="num_col_1">#</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Category</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="supplier in supplierVm.records" ng-class="{ active: supplierVm.newRecord.id == supplier.id}" class="pointer"
                            ng-click="supplierVm.edit(supplier)">
                            <td>{{((supplierVm.pageNumber - 1) * 15) + $index + 1}}</td>
                            <td>{{supplier.name}}</td>
                            <td>{{supplier.address}}</td>
                            <td>{{supplier.phoneNumbers}}</td>
                            <td>{{supplier.email}}</td>
                            <td>{{supplier.category.name}}</td>
                            <td><span class="label" ng-class="supplier.isActive? 'label-success' : 'label-default'">{{supplier.isActive ? 'Active' : 'InActive'}}</span></td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <span>Showing Page: {{supplierVm.currentPage}} of {{supplierVm.totalPages}}</span>
                <uib-pager ng-change="supplierVm.pageChanged(supplierVm.currentPage)" total-items="supplierVm.totalRecords" ng-model="supplierVm.currentPage"></uib-pager>
            </div>
        </div>
    </div>
</page-content>