<page-content>
    <grid-controls>
        <button type="button" class="btn btn-primary" ng-click="materialTypeVm.addNew()">
			<i class="fa fa-plus"></i>Add New Material
		</button>
        <loading ng-if="materialTypeVm.loading" class="pull-right"></loading>
    </grid-controls>

    <div class="col-sm-4 no-padding-left" ng-show="materialTypeVm.showForm">
        <form class="box">
            <div class="box-header">
                <h3 class="box-title">{{materialTypeVm.formTitle}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-default btn-sm" ng-click="materialTypeVm.closeForm()" type="button" uib-tooltip="Close">
                        <i class="fa fa-ban icon_only"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input type="text" id="Name" class="form-control" ng-model="materialTypeVm.newRecord.name" required="required" />
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Cost (Per Ton)</div>
                        <input ng-change="materialTypeVm.calculate()" type="number" step="any" class="form-control amt" ng-model="materialTypeVm.newRecord.cost">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Bank Charge Rate</div>
                        <input ng-change="materialTypeVm.calculate()" type="number" step="any" class="form-control amt" ng-model="materialTypeVm.newRecord.bankRate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Vat Rate</div>
                        <input ng-change="materialTypeVm.calculate()" type="number" step="any" class="form-control amt" ng-model="materialTypeVm.newRecord.vatRate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Port Charge Rate</div>
                        <input ng-change="materialTypeVm.calculate()" type="number" step="any" class="form-control amt" ng-model="materialTypeVm.newRecord.portRate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Manufacturing Rate</div>
                        <input ng-change="materialTypeVm.calculate()" type="number" step="any" class="form-control amt" ng-model="materialTypeVm.newRecord.manufacturingRate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Miscellaneous Rate</div>
                        <input ng-change="materialTypeVm.calculate()" type="number" step="any" class="form-control amt" ng-model="materialTypeVm.newRecord.miscellaneousRate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Total Charge</div>
                        <span class="form-control amt">{{materialTypeVm.newRecord.totalCharge || 0 | number: 2}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Flute</div>
                        <span>
                        <select ng-change="materialTypeVm.calculate()" ui-select2="{allowClear: true}"  class="form-control amt" ng-model="materialTypeVm.newRecord.flute" ng-options="item as item.name for item in materialTypeVm.flutes track by item.id"></select>
                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Price (Per Ton)</div>
                        <span class="form-control amt">{{materialTypeVm.newRecord.price || 0 | number: 2 }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Notes">Notes:</label>
                    <textarea id="Notes" class="form-control" ng-model="materialTypeVm.newRecord.notes" cols="5" rows="5"></textarea>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-success" id="save" btn-loading="materialTypeVm.saving" data-loading-text="Saving..." ng-click="materialTypeVm.saveRecord(materialTypeVm.newRecord)"><i class='fa fa-save'></i>Save </button>
                <button type="button" class="btn btn-default" ng-click="materialTypeVm.closeForm()"><i class='fa fa-ban'></i>Cancel</button>
                <button type="button" ng-if="materialTypeVm.newRecord.id" class="btn btn-danger pull-right" ng-click="materialTypeVm.deleteRecord(materialTypeVm.newRecord)"
                    btn-loading="materialTypeVm.deleting" data-loading-text="Deleting...">
                    <i class="fa fa-trash"></i>Delete
                    </button>
            </div>
        </form>
    </div>

    <div ng-class="materialTypeVm.gridSize" class="no-padding">
        <div class="panel panel-default top-default">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="num_col_1">#</th>
                            <th>Name</th>
                            <th>Cost</th>
                            <th>Bank</th>
                            <th>Vat</th>
                            <th>Port</th>
                            <th>Manu.</th>
                            <th>Mis</th>
                            <th>Total</th>
                            <th>Flute</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="materialType in materialTypeVm.records" ng-class="{ active: materialTypeVm.newRecord.id == materialType.id}"
                            class="pointer" ng-click="materialTypeVm.edit(materialType)">
                            <td>{{$index + 1}}</td>
                            <td>{{materialType.name}}</td>
                            <td>{{materialType.cost | number: 3}}</td>
                            <td>{{materialType.bankRate | number : 3}}</td>
                            <td>{{materialType.vatRate | number : 3}}</td>
                            <td>{{materialType.portRate | number : 3}}</td>
                            <td>{{materialType.manufacturingRate | number : 3}}</td>
                            <td>{{materialType.miscellaneousRate | number : 3}}</td>
                            <td>{{materialType.totalCharge | number : 2}}</td>
                            <td>{{materialType.flute.name}}</td>
                            <td>{{materialType.price | number: 2}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</page-content>