<page-header title="Dashboard" icon="fa fa-dashboard color-aqua"></page-header>
<page-content>
    <div class="row">
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" ng-model="dashboardVm.filter.dateFrom" uib-datepicker-popup is-open="dateFrom.isOpen"
                ng-click="dateFrom.isOpen=true" placeholder="Date From">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" ng-model="dashboardVm.filter.dateTo" uib-datepicker-popup is-open="dateTo.isOpen"
                ng-click="dateTo.isOpen=true" placeholder="Date To">
        </div>
        <div class="col-sm-2">
            <a class="btn btn-info" ng-click="dashboardVm.fetch(dashboardVm.filter)">
                <i class="fa fa-search"></i>Filter</a>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    <hr/>
    <div class="row" style="margin: 30px 0; text-align: center">
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding-left">
            <div class="card bg-white dashboard">
                <div class="dashboard-card-header bg-blue">
                    <i class="fa fa-money fa-3x"></i>
                </div>
                <div class="card-body align-right">
                    <p class="title">Cash Received</p>
                    <h3 class="value">{{dashboardVm.stats.cashReceived | currency:'GHC '}}</h3>
                </div>
                <div class="card-footer">
                    <i class="fa fa-calendar"></i> Today
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 no-padding-left">
            <div class="card bg-white dashboard">
                <div class="dashboard-card-header bg-orange">
                    <i class="fa fa-ticket fa-3x"></i>
                </div>
                <div class="card-body align-right">
                    <p class="title">Total Tickets Sold</p>
                    <h3 class="value">{{dashboardVm.stats.ticketsSold}}</h3>
                </div>
                <div class="card-footer">
                    <i class="fa fa-calendar"></i> Today
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
            <div class="card bg-white dashboard">
                <div class="dashboard-card-header bg-red">
                    <i class="fa fa-ban fa-3x"></i>
                </div>
                <div class="card-body align-right">
                    <p class="title">Cancelled Ticket Sales</p>
                    <h3 class="value">{{dashboardVm.stats.cancelledTicketSales}}</h3>
                </div>
                <div class="card-footer">
                    <i class="fa fa-calendar"></i> Today
                </div>
            </div>
        </div>




    </div>
    <div class="row" style="margin-bottom: 30px 0; text-align: center">
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding-left">
            <div class="card bg-white dashboard">
                <div class="dashboard-card-header bg-green">
                    <i class="fa fa-list-alt fa-3x"></i>
                </div>
                <div class="card-body align-right">
                    <p class="title">Regular Tickets Sold</p>
                    <h3 class="value">{{dashboardVm.stats.regularTickets}}</h3>
                </div>
                <div class="card-footer">
                    <i class="fa fa-calendar"></i> Today
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
            <div class="card bg-white dashboard">
                <div class="dashboard-card-header bg-purple">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="card-body align-right">
                    <p class="title">Member Tickets Sold</p>
                    <h3 class="value">{{dashboardVm.stats.memberTickets}}</h3>
                </div>
                <div class="card-footer">
                    <i class="fa fa-calendar"></i> Today
                </div>
            </div>
        </div>
    </div>
</page-content>