<div class="pageheader_container">
    <div class="pageheader">
        <div class="btn-group btn-breadcrumb">
            <a ui-sref="products" class="btn btn-default">
                <i class="fa fa-tags"></i> Products
            </a>
            <a href="" class="btn">
				{{productVm.title}}
			</a>
        </div>
    </div>
</div>

<page-content>
    <div class="col-sm-8 no-padding">
        <div class="panel panel-default">
            <div class="panel-heading">Product Info</div>
            <div class="panel-body">
                <div class="form-group col-sm-12 no-padding">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="productVm.newProduct.name" required>
                </div>
                <div class="form-group col-sm-6 no-padding-left">
                    <label>Customer</label>
                    <select ui-select2 class="form-control" ng-model="productVm.newProduct.customerId" ng-options="item.id as item.name for item in productVm.customers"></select>
                </div>
                <div class="form-group col-sm-6 no-padding-right">
                    <label>Category</label>
                    <select ui-select2 class="form-control" ng-model="productVm.newProduct.category" ng-options="item as item.name for item in productVm.productCategories"></select>
                </div>
                <div class="form-group col-sm-6 no-padding-left">
                    <label>Type</label>
                    <select ng-change="productVm.setPaperCombinations()" ui-select2 class="form-control" ng-model="productVm.newProduct.type"
                        ng-options="item as item.name for item in productVm.productTypes track by item.id"></select>
                </div>
                <div class="form-group col-sm-6 no-padding-right">
                    <label>Upload Artwork</label>
                    <input type="file" class="form-control" fileread="productVm.newProduct.artwork" />
                </div>
                <div class="col-sm-6 no-padding-left">
                    <div class="col-sm-8 no-padding-left">
                        <div class="input-group">
                            <div class="input-group-addon">Profit (%)</div>
                            <input type="number" step="any" class="form-control amt" min="0" max="100" ng-model="productVm.newProduct.profit">
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding">
                        <label class="form-control">
                            <input type="checkbox" ng-model="productVm.newProduct.hasPrinting"> Has Printing
                        </label>
                    </div>
                </div>
                <div class="col-sm-6 no-padding" ng-if="productVm.newProduct.hasPrinting">
                    <div class="col-sm-4">
                        <label class="form-control">
                            <input type="checkbox" ng-model="productVm.newProduct.hasGlue"> Glue
                        </label>
                    </div>
                    <div class="col-sm-4 no-padding">
                        <label class="form-control">
                            <input type="checkbox" ng-model="productVm.newProduct.hasStitching"> Has Stitching
                        </label>
                    </div>
                    <div class="col-sm-4 no-padding-right">
                        <label class="form-control">
                            <input type="checkbox" ng-model="productVm.newProduct.hasFonLogo"> Has Fon Logo
                        </label>
                    </div>
                </div>
                <div style="margin-top: 10px;display: inline-block;" ng-if="productVm.newProduct.hasPrinting">
                    <div class="col-sm-3 no-padding-left">
                        <div class="input-group">
                            <div class="input-group-addon" ng-style="{'background-color': productVm.newProduct.colour1}">Color 1</div>
                            <input type="text" colorpicker class="form-control" ng-model="productVm.newProduct.colour1">
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding-left">
                        <div class="input-group">
                            <div class="input-group-addon" ng-style="{'background-color': productVm.newProduct.colour2}">Color 2</div>
                            <input type="text" colorpicker class="form-control" ng-model="productVm.newProduct.colour2">
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding-right">
                        <div class="input-group">
                            <div class="input-group-addon" ng-style="{'background-color': productVm.newProduct.colour3}">Color 3</div>
                            <input type="text" colorpicker class="form-control" ng-model="productVm.newProduct.colour3">
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding-right">
                        <div class="input-group">
                            <div class="input-group-addon" ng-style="{'background-color': productVm.newProduct.colour4}">Color 4</div>
                            <input type="text" colorpicker class="form-control" ng-model="productVm.newProduct.colour4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Product Dimensions</div>
            <div class="panel-body">
                <div class="form-group col-sm-4 no-padding-left">
                    <div class="input-group">
                        <div class="input-group-addon">Length</div>
                        <input ng-change="productVm.calculate()" type="number" min="0" step="any" class="form-control" ng-model="productVm.newProduct.length">
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">Width</div>
                        <input ng-change="productVm.calculate()" type="number" min="0" step="any" class="form-control" ng-model="productVm.newProduct.width">
                    </div>
                </div>
                <div class="form-group col-sm-4 no-padding-right">
                    <div class="input-group">
                        <div class="input-group-addon">Height</div>
                        <input ng-disabled="productVm.newProduct.category.equalProductAndBoardDimension" ng-change="productVm.calculate()" type="number" min="0" step="any" class="form-control" ng-model="productVm.newProduct.height">
                    </div>
                </div>
                <div class="form-group col-sm-4 no-padding-left">
                    <div class="input-group">
                        <div class="input-group-addon"># of Outs</div>
                        <input ng-change="productVm.calculate()" type="number" min="0" step="any" class="form-control" ng-model="productVm.newProduct.numberOfOuts">
                        <span class="input-group-btn" style="width: 40%">
                            <span class="form-control amt">{{productVm.newProduct.outWidth || 0}}</span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">Reel Width</div>
                        <input ng-change="productVm.calculate()" min="0" type="number" step="any" class="form-control" ng-model="productVm.newProduct.reelWidth">
                    </div>
                </div>
                <div class="form-group col-sm-4 no-padding-right">
                    <div class="input-group">
                        <div class="input-group-addon">Trim</div>
                        <span class="form-control amt">{{productVm.newProduct.trim || 0}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Board Dimensions</div>
            <div class="panel-body">
                <div class="form-group col-sm-6 no-padding-left">
                    <div class="input-group">
                        <div class="input-group-addon">Length</div>
                        <span class="form-control amt">{{productVm.newProduct.boardLength || 0}}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6 no-padding-right">
                    <div class="input-group">
                        <div class="input-group-addon">Width</div>
                        <span class="form-control amt">{{productVm.newProduct.boardWidth || 0 }}</span>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="form-group col-sm-6 no-padding-left">
                    <div class="input-group">
                        <div class="input-group-addon">GSM</div>
                        <span class="form-control amt">{{productVm.newProduct.gsm || 0 | number: '0'}}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6 no-padding-right">
                    <div class="input-group">
                        <div class="input-group-addon">Board Weight</div>
                        <span class="form-control amt">{{productVm.newProduct.boardWeight || 0 | number : '2'}}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6 no-padding-left">
                    <div class="input-group">
                        <div class="input-group-addon">Corrugator Waste</div>
                        <span class="form-control amt">{{productVm.newProduct.waste || 0 | number: '3'}}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6 no-padding-right">
                    <div class="input-group">
                        <div class="input-group-addon">Total Board Weight</div>
                        <span class="form-control amt">{{productVm.newProduct.totalBoardWeight || 0 | number : '2'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="productVm.newProduct.category.multipleOutsPerBoard">
            <div class="panel-heading">Extra</div>
            <div class="panel-body">
                <div class="form-group col-sm-6 no-padding-left">
                    <div class="input-group">
                        <div class="input-group-addon">Outs Per Board</div>
                        <input ng-change="productVm.calculate()" type="number" min="1" class="form-control" ng-model="productVm.newProduct.outsPerBoard">
                    </div>
                </div>
                <div class="form-group col-sm-6 no-padding-right">
                    <div class="input-group">
                        <div class="input-group-addon">Die Cost</div>
                        <input ng-change="productVm.calculate()" type="number" min="0" step="any" class="form-control" ng-model="productVm.newProduct.dieCost">
                    </div>
                </div>
                <div class="form-group col-sm-6 no-padding-left">
                    <div class="input-group">
                        <div class="input-group-addon">Projected Quantity</div>
                        <input ng-change="productVm.calculate()" type="number" min="1" class="form-control" ng-model="productVm.newProduct.projectedQuantity">
                    </div>
                </div>
                <div class="form-group col-sm-6 no-padding-right">
                    <div class="input-group">
                        <div class="input-group-addon">Clearing Cost (%)</div>
                        <input ng-change="productVm.calculate()" type="number" min="0" class="form-control" ng-model="productVm.newProduct.clearingCostPercentage">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 no-padding-right">
        <div class="panel panel-default">
            <div class="panel-heading">Paper Combinations</div>
            <div class="panel-body">
                <div class="input-group equal-group" ng-repeat="combination in productVm.newProduct.paperCombinations" style="margin-bottom: 5px">
                    <div class="input-group-addon addon-3x">{{combination.paper.name}}</div>
                    <input ng-change="productVm.calculate()" min="0" type="number" step="any" class="form-control" ng-model="combination.quantity">
                    <span style="width: 40%" class="input-group-btn">
                        <select ng-change="productVm.calculate()"  class="form-control" ng-model="combination.materialType" ng-options="item as item.name for item in productVm.materialTypes track by item.id"></select>
                    </span>
                </div>

            </div>
        </div>
        <div class="panel panel-default" ng-if="productVm.newProduct.price">
            <div class="panel-heading">Prices</div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="num_col_1">#</th>
                            <th>Currency</th>
                            <th class="amt">Amount</th>
                            <th class="amt">Amount with Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="currency in productVm.currencies">
                            <td>{{$index+1}}</td>
                            <td>{{currency.name}}</td>
                            <td class="amt">{{currency.symbol}} {{(productVm.newProduct.price * currency.rate) | number: '4'}}</td>
                            <td class="amt">{{currency.symbol}} {{((productVm.newProduct.price + (productVm.newProduct.price * (productVm.newProduct.profit/100)))
                                * currency.rate) | number: '4'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <button type="button" ng-click="productVm.save()" btn-loading="productVm.saving" data-loading-text="Saving..." class="btn btn-success"><i class="fa fa-save"></i>Save Product</button>
            </div>
        </div>
    </div>
</page-content>