<div class="pageheader_container">
    <div class="pageheader">
        <div class="btn-group btn-breadcrumb">
            <a ui-sref="inventory" class="btn btn-default">
                <i class="fa fa-table"></i> Inventory
            </a>
            <a href="" class="btn">
				Stock Receipts
			</a>
        </div>
    </div>
</div>


<page-content>
    <div class="side_form col-sm-12 no-padding">
        <button ng-if="!stockreceiptVm.loading" authorize="StockReceipt.Create" type="button" class="btn btn-primary" ng-click="stockreceiptVm.addNew()">
			<i class="fa fa-plus"></i>New StockReceipt
		</button>

        <loading ng-if="stockreceiptVm.loading" class="pull-right"></loading>
        <filter-box ng-hide="stockreceiptVm.loading" class="pull-right clear-padding-right" name="number" on-search="stockreceiptVm.fetch(filter)"
            placeholder="Search by number" advance="true">
            <input type="text" class="form-control" ng-model="filter.waybill" placeholder="Waybill">
            <select ui-select2="{allowClear:true}" class="form-control" ng-model="filter.supplierId" data-placeholder="Supplier" ng-options="item.id as item.name for item in stockissueVm.suppliers">
				<option value=""></option>
			</select>
            </filter-box>
    </div>

    <div ng-include="'stockreceipt_form'"></div>

    <div ng-class="stockreceiptVm.gridSize" class="no-padding">
        <div class="panel panel-default top-default" authorize="StockReceipt.Read">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="num_col_1">#</th>
                            <th>Date</th>
                            <th>Number</th>
                            <th>Waybill</th>
                            <th>Supplier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stockreceipt in stockreceiptVm.records" ng-class="{ active: stockreceiptVm.newRecord.id == stockreceipt.id}" class="pointer"
                            ng-click="stockreceiptVm.edit(stockreceipt)">
                            <td>{{((stockreceiptVm.pageNumber - 1) * 15) + $index + 1}}</td>
                            <td>{{stockreceipt.date | date: 'mediumDate'}}</td>
                            <td>{{stockreceipt.number}}</td>
                            <td>{{stockreceipt.waybill}}</td>
                            <td>{{stockreceipt.supplier.name}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <span>Showing Page: {{stockreceiptVm.currentPage}} of {{stockreceiptVm.totalPages}}</span>
                <uib-pager ng-change="stockreceiptVm.pageChanged(stockreceiptVm.currentPage)" total-items="stockreceiptVm.totalRecords" ng-model="stockreceiptVm.currentPage"></uib-pager>
            </div>
        </div>
    </div>
</page-content>