<div class="col-sm-6 no-padding-left" id="stockIssueForm" ng-if="stockreceiptVm.showForm">
    <form role="form" ng-submit="stockreceiptVm.saveRecord(stockreceiptVm.newRecord)">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">{{stockreceiptVm.formTitle}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-default btn-sm" ng-click="stockreceiptVm.closeForm()" data-widget="remove" type="button" uib-tooltip="Close">
                        <i class="fa fa-ban icon_only"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Date</label>
                        <div class="col-sm-7">
                            <span ng-if="stockreceiptVm.newRecord.id" class="form-control">{{stockreceiptVm.newRecord.date | date : 'mediumDate'}}</span>
                            <input ng-if="!stockreceiptVm.newRecord.id" type="text" class="form-control" ng-model="stockreceiptVm.newRecord.date" uib-datepicker-popup is-open="date.isOpen"
                                ng-click="date.isOpen=true" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Supplier</label>
                        <div class="col-sm-7">
                            <span ng-if="stockreceiptVm.newRecord.id" class="form-control">{{stockreceiptVm.newRecord.supplier.name}}</span>
                            <select ng-if="!stockreceiptVm.newRecord.id" ui-select2="{allowClear:true}" class="form-control" ng-model="stockreceiptVm.newRecord.supplierId" ng-options="item.id as item.name for item in stockreceiptVm.suppliers">
                            <option value=""></option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Waybill</label>
                        <div class="col-sm-7">
                            <span ng-if="stockreceiptVm.newRecord.id" class="form-control">{{stockreceiptVm.newRecord.waybill}}</span>
                            <input ng-if="!stockreceiptVm.newRecord.id" type="text" class="form-control" ng-model="stockreceiptVm.newRecord.waybill">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Items</div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="num_col_1">#</th>
                                    <th style="width: 40%">Item</th>
                                    <th>Quantity</th>
                                    <th>GSM</th>
                                    <th>Reel width</th>
                                    <th ng-if="!stockreceiptVm.newRecord.id" class="num_col_1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="receiptItem in stockreceiptVm.newRecord.items">
                                    <td>{{$index+1}}</td>
                                    <td>{{receiptItem.item.name}}</td>
                                    <td>{{receiptItem.quantity}}</td>
                                    <td>{{receiptItem.gsm || 'N/A'}}</td>
                                    <td>{{receiptItem.reelWidth || 'N/A'}}</td>
                                    <td ng-if="!stockreceiptVm.newRecord.id">
                                        <a href="" ng-click="stockreceiptVm.removeItem($index, receiptItem)" uib-tooltip="Remove"><i class="fa fa-remove"></i></a>
                                    </td>
                                </tr>
                                <tr ng-if="!stockreceiptVm.newRecord.id">
                                    <td>*</td>
                                    <td>
                                        <select ui-select2 class="form-control" ng-model="stockreceiptVm.newReceiptItem.item" ng-options="item as item.name for item in stockreceiptVm.stockItems"></select>
                                    </td>
                                    <td><input type="number" min="1" class="form-control" ng-model="stockreceiptVm.newReceiptItem.quantity"></td>
                                    <td><input type="number" step="any" min="0" class="form-control" ng-model="stockreceiptVm.newReceiptItem.gsm" ng-disabled="!stockreceiptVm.newReceiptItem.item.isPaper"></td>
                                    <td><input type="number" step="any" min="0" class="form-control" ng-model="stockreceiptVm.newReceiptItem.reelWidth" ng-disabled="!stockreceiptVm.newReceiptItem.item.isPaper"></td>
                                    
                                    <td>
                                        <button type="button" uib-tooltip="Add" ng-click="stockreceiptVm.addItem()" class="btn btn-default btn-sm"><i class="fa fa-plus icon_only"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button authorize="StockIssue.Delete" type="button" btn-loading="stockreceiptVm.deleting" data-loading-text="Deleting" class="btn btn-danger pull-right"
                    ng-click="stockreceiptVm.deleteRecord(stockreceiptVm.newRecord)" ng-if="stockreceiptVm.newRecord.id"> <i class="fa fa-trash"></i> Delete </button>
                    <button ng-if="!stockreceiptVm.newRecord.id" authorize="StockIssue.Create|StockIssue.Update" type="submit" id="save" btn-loading="stockreceiptVm.saving" data-loading-text="Saving..."
                        class="btn btn-success"><i class="fa fa-save"></i>Save</button>
                        <button type="button" ng-click="stockreceiptVm.closeForm()" class="btn btn-default"><i class="fa fa-ban"></i>Close</button>
            </div>
        </div>
    </form>
</div>